html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.flex {
	display: flex;
}

.flexDirectionColumn {
	flex-direction: column;
}

.justifyContentCenter {
	justify-content: center;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}