.list_item{
  margin: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.list_item>p {
  width: 17.5%;
  justify-content: center;
  overflow: hidden;
  font-size: medium;
  white-space: nowrap;
  text-overflow: ellipsis;
}
